apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "weaura-grafana.fullname" . }}-datasources
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "weaura-grafana.labels" . | nindent 4 }}
    app.kubernetes.io/component: datasources
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: false
{{- if .Values.stack.loki.enabled }}
  loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100
        editable: false
{{- end }}
{{- if .Values.stack.mimir.enabled }}
  mimir.yaml: |
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        access: proxy
        url: http://mimir:9009
        editable: false
{{- end }}
{{- if .Values.stack.tempo.enabled }}
  tempo.yaml: |
    apiVersion: 1
    datasources:
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        editable: false
{{- end }}
