apiVersion: 1
groups:
  - name: pod-alerts
    interval: 1m
    rules:
      - uid: weaura-pod-crash-loop
        title: Pod CrashLoopBackOff
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: ${DS_PROMETHEUS}
            model:
              expr: kube_pod_container_status_waiting_reason{reason="CrashLoopBackOff"} == 1
              refId: A
          - refId: B
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              type: reduce
              refId: B
              expression: A
              reducer: last
              settings:
                mode: replaceNonNumericValues
          - refId: C
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              type: threshold
              refId: C
              expression: B
              conditions:
                - evaluator:
                    params:
                      - 0
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  type: query
        noDataState: OK
        execErrState: Error
        for: 5m
        annotations:
          summary: Pod in CrashLoopBackOff state
          description: "Pod {{ $labels.namespace }}/{{ $labels.pod }} is in CrashLoopBackOff state"
        labels:
          severity: critical
          team: platform
